<nav class="flex items-center justify-between py-2 px-[200px] bg-[#fff] shadow-md" >
  <div class="flex items-center gap-4" >
    <div class="w-16 h-16 rounded-full bg-purple-200 border-2 border-purple-800 flex items-center justify-center overflow-hidden">
      <img class="w-full object-cover" [src]="user.avatar_url">
    </div>

    <div class="flex flex-col gap-0.5">
      <h3 class="text-lg font-bold text-gray-800">{{ user.name }}</h3>
      <a class="text-sm text-gray-700 cursor-pointer" [href]="user.html_url" target="_blank">{{ user.html_url }}</a>
    </div>
  </div>
  <div>
    <ul class="flex items-center gap-4" >
      <li routerLink="/" class="text-sm font-bold text-purple-800 cursor-pointer ">Home</li>
      <li routerLink="/contato" class="text-sm font-bold text-purple-800 cursor-pointer ">Contato</li>
      <li routerLink="/sobre" class="text-sm font-bold text-purple-800 cursor-pointer ">Sobre</li>
    </ul>
  </div>
</nav>

