<div class="h-[500px] mt-12 mx-[200px]" >
  <h2 class="text-4xl font-bold text-gray-800 text-center mb-10">Sobre a aplicação!</h2>

  <p class="text-lg text-gray-800 text-center">
    A aplicação nada mais é do que um caso de estudo prático utilizando Angular.
    <br>
    Sobre meu repertório, sou um Desenvolvedor Web Fullstack em React, Next, Node, Express e Typescript. Ultimamente venho estudando Angular,
    para aumentar meu repertório na carreira de desenvolvedor e pela curiosidade também.
  </p>
</div>
